@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

// Colors
$clr-primary-100: hsl(176, 50%, 47%);
$clr-primary-200: hsl(176, 72%, 28%);

$clr-neutral-100: hsl(0, 0%, 48%);
$clr-neutral-200: hsl(0, 0%, 0%);

// Font family
$ff-manrope: 'Manrope', sans-serif;

// Font size(s)
$fs-base: 1rem;
$fs-medium: 1.5rem;
$fs-large: 2rem;
$fs-extralarge: 3rem;

// Font weight(s)
$fw-regular: 400;
$fw-bold: 500;
$fw-extrabold: 700;

// Sizes
$size-100: .25rem;
$size-200: .5rem;
$size-300: .75rem;
$size-400: 1rem;
$size-500: 1.5rem;
$size-600: 2rem;
$size-700: 3rem;
$size-800: 4rem;
$size-900: 6rem;