// Font weight(s)
$fw-regular: 400;
$fw-bold: 500;
$fw-extrabold: 700;

// Sizes
$size-100: .25rem;
$size-200: .5rem;
$size-300: .75rem;
$size-400: 1rem;
$size-500: 1.5rem;
$size-600: 2rem;
$size-700: 3rem;
$size-800: 4rem;
$size-900: 6rem;