// Default imports
@import './constants';
@import './resets';
@import './mixins';

// Components
@import '../components/Filter/index';
@import '../components/Product/index';

// Navbar
header {
    padding-inline: $size-600;
    nav {
        @include flex-ac-sb;
        font-weight: $fw-medium;
        padding-block: $size-500;
        font-size: clamp($fs-base, 3vw, $fs-medium);

        .text {
            span:nth-child(2) {
                color: $clr-primary;
            }
        }
    }

    .hero {
        height: 70vmin;
        overflow: hidden;
        border-radius: $size-400;
        background: url('/BG.png') no-repeat ;
        padding: $size-400;

        .container {
            @include flex-ac-jc($size-600);
            flex-direction: column;
            text-align: center;
            height: 100%;

            h1 {
                width: 50%;
                color: white;
                font-size: clamp($fs-large, 5vw, $fs-xl);
                font-weight: $fw-bold;
            }

            .search_div {
                width: 37%;
                gap: $size-400;
                padding: $size-200;
                background: white;
                @include flex-ac-sb;
                font-weight: $fw-medium;
                border-radius: $size-300;

                &_input {
                    position: relative;
                    width: 70%;
                    
                    .icon {
                        position: absolute;
                        top: 50%;
                        left: 2%;
                        font-size: $size-400;
                        transform: translateY(-50%);
                    }

                    input {
                        padding-left: $size-600;
                        padding-block: $size-400;
                        outline: none;
                        border: none;
                        width: 90%;
                    }
                }

                &_btn {
                    padding: $size-400 $size-600;
                    background: $clr-primary;
                    border-radius: $size-300;
                    
                    &:hover {
                        filter: brightness(95%);
                    }
                }
            }
        }
    }
}

.content {
    padding: $size-600;
    &_header {
        @include flex-ac-sb;
        h2 {
            font-size: clamp($fs-medium, 2vw, $fs-large);
            font-weight: $fw-semibold;
        }

        .filters {
            @include flex-ac-jc($size-300);
            flex-wrap: wrap;
        }
    }

    .products {
        display: grid;
        grid-template-columns: auto, minmax(100%, 1fr);
        border: 1px solid $clr-neutral-100;
        border-radius: $size-200;
        margin-top: $size-500;

        .product-wrapper {
            overflow: hidden;
            padding: $size-300;
            border-bottom: 1px solid $clr-neutral-100;
        }

        .empty {
            padding: $size-500;
            font-size: $fs-medium;
            font-weight: $fw-medium;
            text-decoration: underline;

            code {
                color: $clr-accent;
            }
        }
    }
}

@include min-max-width(max, 50em) {
    header {
        nav {
            font-size: $fs-base;
        }

        .hero {
            .container {
                h1 {
                    width: 100%;
                }
                .search_div {
                    width: 90%;
                }
            }
        }
    }

    .content {
        &_header {
            gap: $size-400;
            flex-direction: column;
            align-items: flex-start;

            .filters {
                justify-content: flex-start;
            }
        }
    }
}