.product {
    background: $clr-neutral-200;
    border-radius: $size-200;
    padding: $size-400 $size-600;

    &_top {
        @include flex-ac-sb;
        gap: $size-400;
        flex-wrap: wrap;
        padding-block: $size-400;

        &_first {
            @include flex-ac-jc($size-400);

            img {
                object-fit: cover;
                width: $size-900;
                height: $size-800 * 1.2;
                border-radius: $size-200;
            }

            .info {
                font-weight: $fw-medium;
                h4 {
                    font-size: $fs-medium;
                }

                div {
                    @include flex-ac-jc($size-200);
                    justify-content: flex-start;

                    .icon {
                        color: $clr-accent;
                    }

                    .reviews {
                        text-decoration: underline
                    }
                }
            }
        }

        .links {
            @include flex-ac-jc($size-400);

            li {
                cursor: pointer;
                
                svg {
                    border-radius: 100%;
                    padding: $size-200;
                    background: white;
                }
            }
        }
    }

    &_bottom {
        p {
            height: auto;
            overflow: hidden;
            line-height: $size-600;
            color: $clr-neutral-300;
            padding-block: $size-400;
            border-top: 1px solid $clr-neutral-100;
        }
    }
}

@include min-max-width(max, 50em) {
    .product {
        &_top {
            flex-wrap: nowrap;
            &_second,
            &_third {
                display: none;
            }

            .links {
                li:not(:first-child) {
                    display: none;
                }
            }
        }
    }
}